* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;


}

.font-open-sans {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

body {
    background-color: #1A0B2E;
    font-family: "Work Sans", sans-serif;
}

.container {
    max-width: 1200px;
    display: block;
    margin: 0 auto;

}

.header {
    border-bottom: 1px solid #412567;
}

.main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.navbar .menu li a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.header-button a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    display: inline-flex;
    padding: 12px 16px;
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    text-decoration: none;


}

.header-button a i {
    margin-left: 10px;
}

.hero-section {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-style1 {
    max-width: 550px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 101px 0;
}

.hero-style1 .button {
    padding: 12px 20px;
    margin-right: 8px;
}

.hero-img {
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border: 8px solid #2A186C;
    padding: 77px 116px;
    border-radius: 1000px;
    max-width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;

}

.hero-img span {
    background: #00FF88;
    box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);
    border-radius: 1000px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #1A0B2E;
    padding: 8px 16px;
    position: absolute;
    top: 20px;
    right: 10px;

}

.hero-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 8px;

}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    opacity: 0.8;
    margin-bottom: 24px;

}

.button {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    display: inline-flex;
    padding: 12px 16px;
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 1000px;
    text-decoration: none;
    display: inline-flex;
    transition: all 0.4s ease-in-out;
    z-index: 2;
    overflow: hidden;

}

.button:hover {
    background: linear-gradient(48.06deg, #9100F8 16.53%, #FB09B4 49.82%, #F7E93F 81.65%);
}

.button i {
    margin-left: 10px;
}

.button img {
    margin-right: 10px;
}

.button.border {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    display: inline-flex
}

.button.border:before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 0%;
    background-color: #00FF88;
    transition: ease-out 0.5s;
    border-radius: 1000px;
    z-index: -1;
}

.button.border:hover {
    color: #000;
}

.button.border:hover:before {
    height: 100%;
}


/* about-section */

.title-area {
    text-align: center;
    margin-bottom: 44px;
}

.title-area .sec-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 16px;


}

.title-area .sec-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    max-width: 860px;
    display: block;
    margin: auto;



}

.main-about {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-container .section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;

}

.about-container .text-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}

.counter-section {
    padding: 50px 0 120px 0;
}

.fact-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fact-card .fact-number {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #00FF88;
    margin-bottom: 16px;

}

.fact-card .fact-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.8);

}

.why-choose-section {
    padding: 120px 0;
    background-color: #230E3D;
}

.choose-area {

    display: flex;
    flex-direction: column;
    gap: 30px;



}

.choose-wrapper {
    display: flex;
    gap: 30px;
}

.choose-card {
    padding: 107px 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    transition: all 0.4s ease;

}

.choose-card .icon img {
    transition: all 0.4s ease;
}

.choose-card:hover .icon img {
    transform: rotateY(180deg);
}

.choose-wrapp {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.choose-card.box-1 {
    width: 45%;
}

.choose-card.box-2 {
    width: 100%;
    padding: 40px;

}

.choose-card.box-3 {
    padding: 40px;
    width: 45%;


}

.choose-card .icon {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;

}

.choose-card .box-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 16px;


}

.choose-card .box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;

}

/* feature */
.feature-section {
    padding: 120px 0px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    background: #250D44;
    border-radius: 0px 0px 24px 24px;
    z-index: 1;


}

.feature-content .box-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.feature-content .box-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    opacity: 0.6;
    margin-bottom: 12px;


}

.feature-content .time {
    font-size: 16px;
    line-height: 24px;
    color: #00FF88;


}

.feature-content .time i {
    margin-right: 6px;

}

.feature-wrapp {
    display: flex;
    gap: 30px;
}

.feature-card .box-img {
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

.feature-card .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    border-radius: 24px 24px 0 0;
}

.feature-card .box-img:hover img {
    transform: scale(1.1);
}

.feature-card .box-img .button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    line-height: 65px;
    display: block;
    padding: 0;
    text-align: center;

}

.feature-card .box-img .button i {
    margin: 0;
    font-size: 25px;
}

.host-section {
    padding: 0 0 120px 0px;
}

.host-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    gap: 24px;

    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}

.host-content .box-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.host-content .box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    opacity: 0.6;
    margin-bottom: 16px;

}

.host-content .icon span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border: 1px solid #533C72;
    margin-right: 8px;
    border-radius: 50%;
    padding: 4px;

}

/* fotter-section-start */
.footer-section {
    padding: 120px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-section .footer-content {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social-links a {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;


}

.social-links a i {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 8px;
    transition: all 0.4s;



}

.social-links a img {
    margin-right: 8px;

}

.social-links a i:hover {
    color: #fff;
    background-color: #469165;
}

.copyright-wrap .copyright-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 30px 0;

}

/* hamburger  */

#menuToggle {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 9;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    max-width: 300px;
    width: 0vw;
    max-height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: 50px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    overflow: hidden;
    opacity: 0;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu li label {
    cursor: pointer;
}

#menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
    width: 100vw;
      right: -100px;
}

/* responsive --------------------- */
@media screen and (min-width: 576px) {
    #menuToggle {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .navbar .menu,
    .header-button {
        display: none;
    }

    .main-area {
        padding: 30px 20px;
    }

    .fact-wrapp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .choose-wrapper ,
    .feature-wrapp { 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .choose-card.box-1 ,
    .choose-card.box-3 {
        width: 100%;
    }
    .host-area {
        flex-direction: column;
        text-align: center;
    }
 .social-links {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        align-items: flex-start;

 }
 .title-area .sec-title{
    font-size: 30px;
 }
.fotter-logo img { 
    max-width: 200px;
}

}

@media screen and (min-width:576px)and (max-width:1200px){ 
    .container {
        max-width: 100%; 
        margin: 0 20px;
    }
}